<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.team.core.fileTypes" id="repo-ftype">
      <?gmfgen generated="true"?>
      <fileTypes type="text" extension="reflexactoring_diagram"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser" id="resource-factory">
      <?gmfgen generated="true"?>
      <parser
         type="reflexactoring_diagram"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.editors" id="gmf-editor">
      <?gmfgen generated="true"?>
      <editor
         id="reflexactoring.diagram.part.ReflexactoringDiagramEditorID"
         name="%editorName"
         icon="icons/obj16/ReflexactoringDiagramFile.gif"
         extensions="reflexactoring_diagram"
         default="true"
         class="reflexactoring.diagram.part.ReflexactoringDiagramEditor"
         matchingStrategy="reflexactoring.diagram.part.ReflexactoringMatchingStrategy"
         contributorClass="reflexactoring.diagram.part.ReflexactoringDiagramActionBarContributor">
      </editor>
   </extension>
   
   <extension point="org.eclipse.ui.contexts" id="ui-context">
      <?gmfgen generated="true"?>
      <context
         description="%context.description"
         id="reflexactoring.diagram.ui.diagramContext"
         name="%context.name"
         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   </extension>

   <extension point="org.eclipse.ui.newWizards" id="creation-wizard">
      <?gmfgen generated="true"?>
  	  <wizard
  	     name="%newWizardName"
  	     icon="icons/obj16/ReflexactoringDiagramFile.gif"
  	     category="org.eclipse.ui.Examples"
  	     class="reflexactoring.diagram.part.ReflexactoringCreationWizard"
  	     id="reflexactoring.diagram.part.ReflexactoringCreationWizardID">
  	  	 <description>%newWizardDesc</description>  
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.popupMenus" id="init-diagram-action">
      <?gmfgen generated="true"?>
      <objectContribution
            id="reflexactoring.diagram.InitDiagram"
            nameFilter="*.reflexactoring"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="%initDiagramActionLabel"
               class="reflexactoring.diagram.part.ReflexactoringInitDiagramFileAction"
               menubarPath="additions"
               enablesFor="1"
               id="reflexactoring.diagram.InitDiagramAction">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="reflexactoring.diagram.module"
            objectClass="reflexactoring.diagram.edit.parts.ModuleEditPart">
         <action
               class="reflexactoring.diagram.action.popup.UnfreezeMemberAction"
               id="reflexactoring.diagram.action.unFreezeMemberAction"
               label="Unfreeze Member">
         </action>
         <action
               class="reflexactoring.diagram.action.popup.FreezeMemberAction"
               id="reflexactoring.diagram.action.freezeMemberAction"
               label="Freeze Member">
         </action>
         <action
               class="reflexactoring.diagram.action.popup.EditModuleDescriptionAction"
               id="reflexactoring.diagram.action.editdescription"
               label="Edit Name or Description">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="reflexactoring.diagram.classOnCanvas"
            objectClass="reflexactoring.diagram.edit.parts.ClassEditPart">
         <action
               class="reflexactoring.diagram.action.popup.RemoveFromScopeAction"
               id="reflexactoring.diagram.action.removeClassOnCanvas"
               label="Remove from Scope">
         </action>
         <action
               class="reflexactoring.diagram.action.popup.OpenSourceAction"
               id="reflexactoring.diagram.action.open"
               label="Open Source">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="reflexactoring.diagram.classInModule"
            objectClass="reflexactoring.diagram.edit.parts.Class2EditPart">
         <action
               class="reflexactoring.diagram.action.popup.RemoveFromScopeAction"
               id="reflexactoring.diagram.action.removeClassOnModule"
               label="Remove from Scope">
         </action>
         <action
               class="reflexactoring.diagram.action.popup.OpenSourceAction"
               id="reflexactoring.diagram.action.open"
               label="Open Source">
         </action>
         <action
               class="reflexactoring.diagram.action.popup.FixMappingMemberAction"
               id="reflexactoring.diagram.action.fixMember"
               label="Fix All Members">
         </action>
         <action
               class="reflexactoring.diagram.action.popup.FixPartOfMappingMemberAction"
               id="reflexactoring.diagram.action.fixPartMembers"
               label="Fix Part Members">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="reflexactoring.diagram.interfaceOnCanvas"
            objectClass="reflexactoring.diagram.edit.parts.InterfaceEditPart">
         <action
               class="reflexactoring.diagram.action.popup.RemoveFromScopeAction"
               id="reflexactoring.diagram.action.removeIntefaceOnCanvas"
               label="Remove from Scope">
         </action>
         <action
               class="reflexactoring.diagram.action.popup.OpenSourceAction"
               id="reflexactoring.diagram.action.open"
               label="Open Source">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="reflexactoring.diagram.interfaceInModule"
            objectClass="reflexactoring.diagram.edit.parts.Interface2EditPart">
         <action
               class="reflexactoring.diagram.action.popup.RemoveFromScopeAction"
               id="reflexactoring.diagram.action.removeIntefaceOnModule"
               label="Remove from Scope">
         </action>
         <action
               class="reflexactoring.diagram.action.popup.OpenSourceAction"
               id="reflexactoring.diagram.action.open"
               label="Open Source">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="reflexactoring.diagram.moduleDependency"
            objectClass="reflexactoring.diagram.edit.parts.ModuleDependencyEditPart">
         <action
               class="reflexactoring.diagram.action.popup.HideContributionAction"
               id="reflexactoring.diagram.action.hideContribution"
               label="Hide Contribution">
         </action>
         <action
               class="reflexactoring.diagram.action.popup.HighlightContributionAction"
               id="reflexactoring.diagram.action.highlightContribution"
               label="Highlight Contribution">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="reflexactoring.diagram.typeDependency"
            objectClass="reflexactoring.diagram.edit.parts.TypeDependencyEditPart">
         <action
               class="reflexactoring.diagram.action.popup.ShowReferenceDetailAction"
               id="reflexactoring.diagram.action.showReferenceDetail"
               label="Show Reference Detail">
         </action>
      </objectContribution>
   </extension>
	
   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders" id="global-actions">
      <?gmfgen generated="true"?>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="ReflexactoringPresentation">
         <Priority name="Lowest"/>
         <ViewId id="reflexactoring.diagram.part.ReflexactoringDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="save">
               </GlobalActionId>
            </ElementType>        
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="ReflexactoringPresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="reflexactoring.diagram.part.ReflexactoringDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="ReflexactoringRender">
         <Priority name="Lowest"/>
         <ViewId id="reflexactoring.diagram.part.ReflexactoringDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>


   <extension point="org.eclipse.core.runtime.preferences" id="prefs">
      <?gmfgen generated="true"?>
      <initializer class="reflexactoring.diagram.preferences.DiagramPreferenceInitializer"/>
   </extension>

   <extension point="org.eclipse.ui.preferencePages" id="prefpages">
      <?gmfgen generated="true"?>
      <page
            id="reflexactoring.diagram.general"
            name="Refleactoring"
            class="reflexactoring.diagram.preferences.DiagramGeneralPreferencePage">
      </page>
      <page
            id="reflexactoring.diagram.appearance"
            name="%prefpage.reflexactoring.diagram.appearance"
            category="reflexactoring.diagram.general"
            class="reflexactoring.diagram.preferences.DiagramAppearancePreferencePage">
      </page>
      <page
            id="reflexactoring.diagram.connections"
            name="%prefpage.reflexactoring.diagram.connections"
            category="reflexactoring.diagram.general"
            class="reflexactoring.diagram.preferences.DiagramConnectionsPreferencePage">
      </page>
      <page
            id="reflexactoring.diagram.printing"
            name="%prefpage.reflexactoring.diagram.printing"
            category="reflexactoring.diagram.general"
            class="reflexactoring.diagram.preferences.DiagramPrintingPreferencePage">
      </page>
      <page
            id="reflexactoring.diagram.rulersAndGrid"
            name="%prefpage.reflexactoring.diagram.rulersAndGrid"
            category="reflexactoring.diagram.general"
            class="reflexactoring.diagram.preferences.DiagramRulersAndGridPreferencePage">
      </page>
      <page
            category="reflexactoring.diagram.general"
            class="reflexactoring.diagram.preferences.ProjectInfoPage"
            id="reflexactoring.diagram.projectInfo"
            name="Project Information">
      </page>
      <page
            category="reflexactoring.diagram.general"
            class="reflexactoring.diagram.preferences.RecommendSettingPage"
            id="reflexactoring.diagram.recommend"
            name="Recommend Settings">
      </page>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor" id="prop-contrib">
      <?gmfgen generated="true"?>
      <propertyContributor
            contributorId="reflexactoring.diagram"
            labelProvider="reflexactoring.diagram.sheet.ReflexactoringSheetLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="reflexactoring.diagram">
         <propertyTab
             category="visual"
             id="property.tab.AppearancePropertySection"
             label="%tab.appearance"/>
          <propertyTab
             category="visual"
             id="property.tab.DiagramPropertySection"
             label="%tab.diagram"/>
          <propertyTab
             category="domain"
             id="property.tab.domain"
             label="%tab.domain"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="reflexactoring.diagram">
         <propertySection id="property.section.ConnectorAppearancePropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection id="property.section.ShapeColorAndFontPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection> 
         <propertySection id="property.section.DiagramColorsAndFontsPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>     
         <propertySection id="property.section.RulerGridPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection" 
            tab="property.tab.DiagramPropertySection">
         </propertySection>     
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="reflexactoring.diagram.sheet.ReflexactoringPropertySection">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
            <input type="reflexactoring.diagram.navigator.ReflexactoringAbstractNavigatorItem"/>
         </propertySection>
      </propertySections>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders" id="view-provider">
      <?gmfgen generated="true"?>
      <viewProvider class="reflexactoring.diagram.providers.ReflexactoringViewProvider">
         <Priority name="Lowest"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="Reflexactoring"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="2001,2002,2003,3001,3002"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints="4001,4006,4002,4003,4004,4005"/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders" id="ep-provider">
      <?gmfgen generated="true"?>
      <editpartProvider class="reflexactoring.diagram.providers.ReflexactoringEditPartProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Diagram" id="generated-diagram">
            <method name="getType()" value="Reflexactoring"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-nodes">
            <method name="getType()" value="2001,2002,2003,3001,3002"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Edge" id="generated-links">
            <method name="getType()" value="4001,4006,4002,4003,4004,4005"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-labels">
            <method name="getType()" value="5001,5002,5005,5003,5004"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-compartments">
            <method name="getType()" value="7001"/>
         </object>
         <context views="generated-diagram,generated-nodes,generated-links,generated-labels,generated-compartments"/>
      </editpartProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders" id="modelassist-provider">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="reflexactoring.diagram.providers.ReflexactoringModelingAssistantProvider">
         <Priority name="Lowest"/>
         <object class="reflexactoring.diagram.edit.parts.ReflexactoringEditPart" id="Reflexactoring_1000"/>
         <object class="reflexactoring.diagram.edit.parts.ClassEditPart" id="Class_2001"/>
         <object class="reflexactoring.diagram.edit.parts.InterfaceEditPart" id="Interface_2002"/>
         <object class="reflexactoring.diagram.edit.parts.ModuleEditPart" id="Module_2003"/>
         <object class="reflexactoring.diagram.edit.parts.Class2EditPart" id="Class_3001"/>
         <object class="reflexactoring.diagram.edit.parts.Interface2EditPart" id="Interface_3002"/>
         <context elements="Reflexactoring_1000,Class_2001,Interface_2002,Module_2003,Class_3001,Interface_3002"/>
      </modelingAssistantProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders" id="icon-provider">
      <?gmfgen generated="true"?>
      <IconProvider class="reflexactoring.diagram.providers.ReflexactoringIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders" id="parser-provider">
      <?gmfgen generated="true"?>
      <ParserProvider class="reflexactoring.diagram.providers.ReflexactoringParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes" id="element-types">
      <?gmfgen generated="true"?>
      <metamodel nsURI="http://reflexactoring.com">
         <metamodelType
               id="reflexactoring.diagram.Reflexactoring_1000"
               name="%metatype.name.Reflexactoring_1000"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Reflexactoring"
               edithelper="reflexactoring.diagram.edit.helpers.ReflexactoringEditHelper">
            <param name="semanticHint" value="1000"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://reflexactoring.com">
         <metamodelType
               id="reflexactoring.diagram.Class_2001"
               name="%metatype.name.Class_2001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Class"
               edithelper="reflexactoring.diagram.edit.helpers.ClassEditHelper">
            <param name="semanticHint" value="2001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://reflexactoring.com">
         <metamodelType
               id="reflexactoring.diagram.Interface_2002"
               name="%metatype.name.Interface_2002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Interface"
               edithelper="reflexactoring.diagram.edit.helpers.InterfaceEditHelper">
            <param name="semanticHint" value="2002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://reflexactoring.com">
         <metamodelType
               id="reflexactoring.diagram.Module_2003"
               name="%metatype.name.Module_2003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Module"
               edithelper="reflexactoring.diagram.edit.helpers.ModuleEditHelper">
            <param name="semanticHint" value="2003"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://reflexactoring.com">
         <specializationType
               id="reflexactoring.diagram.Class_3001"
               name="%metatype.name.Class_3001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="reflexactoring.diagram.Class_2001"/>
            <param name="semanticHint" value="3001"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://reflexactoring.com">
         <specializationType
               id="reflexactoring.diagram.Interface_3002"
               name="%metatype.name.Interface_3002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="reflexactoring.diagram.Interface_2002"/>
            <param name="semanticHint" value="3002"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://reflexactoring.com">
         <metamodelType
               id="reflexactoring.diagram.ModuleDependency_4001"
               name="%metatype.name.ModuleDependency_4001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ModuleDependency"
               edithelper="reflexactoring.diagram.edit.helpers.ModuleDependencyEditHelper">
            <param name="semanticHint" value="4001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://reflexactoring.com">
         <metamodelType
               id="reflexactoring.diagram.ModuleExtend_4006"
               name="%metatype.name.ModuleExtend_4006"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ModuleExtend"
               edithelper="reflexactoring.diagram.edit.helpers.ModuleExtendEditHelper">
            <param name="semanticHint" value="4006"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://reflexactoring.com">
         <metamodelType
               id="reflexactoring.diagram.ClassExtend_4002"
               name="%metatype.name.ClassExtend_4002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ClassExtend"
               edithelper="reflexactoring.diagram.edit.helpers.ClassExtendEditHelper">
            <param name="semanticHint" value="4002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://reflexactoring.com">
         <metamodelType
               id="reflexactoring.diagram.TypeDependency_4003"
               name="%metatype.name.TypeDependency_4003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="TypeDependency"
               edithelper="reflexactoring.diagram.edit.helpers.TypeDependencyEditHelper">
            <param name="semanticHint" value="4003"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://reflexactoring.com">
         <metamodelType
               id="reflexactoring.diagram.InterfaceExtend_4004"
               name="%metatype.name.InterfaceExtend_4004"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="InterfaceExtend"
               edithelper="reflexactoring.diagram.edit.helpers.InterfaceExtendEditHelper">
            <param name="semanticHint" value="4004"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://reflexactoring.com">
         <metamodelType
               id="reflexactoring.diagram.Implement_4005"
               name="%metatype.name.Implement_4005"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Implement"
               edithelper="reflexactoring.diagram.edit.helpers.ImplementEditHelper">
            <param name="semanticHint" value="4005"/>
         </metamodelType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings" id="element-types-bindings">
      <?gmfgen generated="true"?>
      <clientContext id="reflexactoring.diagram.TypeContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="reflexactoring.diagram.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="reflexactoring.diagram.TypeContext">
         <elementType ref="reflexactoring.diagram.Reflexactoring_1000"/>
         <elementType ref="reflexactoring.diagram.Class_2001"/>
         <elementType ref="reflexactoring.diagram.Interface_2002"/>
         <elementType ref="reflexactoring.diagram.Module_2003"/>
         <elementType ref="reflexactoring.diagram.Class_3001"/>
         <elementType ref="reflexactoring.diagram.Interface_3002"/>
         <elementType ref="reflexactoring.diagram.ModuleDependency_4001"/>
         <elementType ref="reflexactoring.diagram.ModuleExtend_4006"/>
         <elementType ref="reflexactoring.diagram.ClassExtend_4002"/>
         <elementType ref="reflexactoring.diagram.TypeDependency_4003"/>
         <elementType ref="reflexactoring.diagram.InterfaceExtend_4004"/>
         <elementType ref="reflexactoring.diagram.Implement_4005"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>
	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isURIEditorInput">
      <?gmfgen generated="true"?>
       <propertyTester
           id="reflexactoring.diagram.URIEditorInputPropertyTester"
           type="org.eclipse.emf.common.ui.URIEditorInput"
           namespace="reflexactoring.diagram"
           properties="isURIEditorInput"
           class="reflexactoring.diagram.part.ReflexactoringUriEditorInputTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.ui.navigator.viewer" id="navigator-viewbinding">
      <?gmfgen generated="true"?>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="reflexactoring.diagram.resourceContent"/>
			<contentExtension pattern="reflexactoring.diagram.domainResourceContent"/>
            <contentExtension pattern="reflexactoring.diagram.navigatorLinkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="reflexactoring.diagram.navigatorActionProvider"/>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension point="org.eclipse.ui.navigator.navigatorContent" id="navigator-content">
      <?gmfgen generated="true"?>
      <navigatorContent
            id="reflexactoring.diagram.resourceContent" 
            name="%navigatorContentName" 
            priority="normal" 
            contentProvider="reflexactoring.diagram.navigator.ReflexactoringNavigatorContentProvider" 
            labelProvider="reflexactoring.diagram.navigator.ReflexactoringNavigatorLabelProvider"
            icon="icons/obj16/ReflexactoringDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="reflexactoring_diagram"/>
               </and>
               <instanceof value="reflexactoring.diagram.navigator.ReflexactoringAbstractNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
         	   <instanceof value="reflexactoring.diagram.navigator.ReflexactoringAbstractNavigatorItem"/>
            </or>
         </possibleChildren>
         <commonSorter 
               id="reflexactoring.diagram.navigatorSorter" 
               class="reflexactoring.diagram.navigator.ReflexactoringNavigatorSorter">
            <parentExpression>
               <or>
	              <and>
    	             <instanceof value="org.eclipse.core.resources.IFile"/>
        	         <test property="org.eclipse.core.resources.extension" value="reflexactoring_diagram"/>
                  </and>
                  <instanceof value="reflexactoring.diagram.navigator.ReflexactoringAbstractNavigatorItem"/>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            id="reflexactoring.diagram.domainResourceContent" 
            name="%domainNavigatorContentName" 
            priority="normal" 
            contentProvider="reflexactoring.diagram.navigator.ReflexactoringDomainNavigatorContentProvider" 
            labelProvider="reflexactoring.diagram.navigator.ReflexactoringDomainNavigatorLabelProvider"
            icon="icons/obj16/ReflexactoringDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="reflexactoring"/>
               </and>
               <instanceof value="reflexactoring.diagram.navigator.ReflexactoringDomainNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof value="reflexactoring.diagram.navigator.ReflexactoringDomainNavigatorItem"/>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            id="reflexactoring.diagram.navigatorActionProvider"
            class="reflexactoring.diagram.navigator.ReflexactoringNavigatorActionProvider">
         <enablement>
            <or>
               <instanceof value="reflexactoring.diagram.navigator.ReflexactoringAbstractNavigatorItem"/>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   
	   <extension point="org.eclipse.ui.navigator.linkHelper" id="navigator-linkhelper">
      <?gmfgen generated="true"?>
      <linkHelper
            id="reflexactoring.diagram.navigatorLinkHelper"
            class="reflexactoring.diagram.navigator.ReflexactoringNavigatorLinkHelper">
         <editorInputEnablement>
            <and>
               <instanceof value="org.eclipse.emf.common.ui.URIEditorInput"/>
               <test property="reflexactoring.diagram.isURIEditorInput"/>
            </and>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof value="reflexactoring.diagram.navigator.ReflexactoringAbstractNavigatorItem"/>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension point="org.eclipse.ui.commands" id="update-cmd">
      <?gmfgen generated="true"?>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="reflexactoring.diagram.part.ReflexactoringDiagramUpdateCommand"
         description="%update.diagram.description"
         id="reflexactoring.diagram.updateDiagram"
         name="%update.diagram.name"/>
   </extension>
   
   <extension point="org.eclipse.ui.bindings" id="update-cmd-binding">
      <?gmfgen generated="true"?>
      <key 
         commandId="reflexactoring.diagram.updateDiagram"
         contextId="reflexactoring.diagram.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F5"/>
   </extension>

   <extension point="org.eclipse.ui.menus" id="context-menus">
      <?gmfgen generated="true"?>
      <!-- menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=">
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=">
      </menuContribution -->
      <menuContribution locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu">
         <command commandId="reflexactoring.diagram.LoadResourceAction">
            <visibleWhen>
               <and>
                  <with variable="activePartId"><equals value="reflexactoring.diagram.part.ReflexactoringDiagramEditorID"/></with>
                  <with variable="selection"><iterate ifEmpty="false"> 
                     <instanceof value="reflexactoring.diagram.edit.parts.ReflexactoringEditPart"/>
                  </iterate></with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.commands" id="menu-commands">
      <?gmfgen generated="true"?>
      <category id="reflexactoring.diagram.part.ReflexactoringDiagramEditorID" name="%cmdcategory.name" description="%cmdcategory.desc"/>
      <command id="reflexactoring.diagram.LoadResourceAction"
         name="Load Resource"
         categoryId="reflexactoring.diagram.part.ReflexactoringDiagramEditorID"
         defaultHandler="reflexactoring.diagram.part.LoadResourceAction"/>
   </extension>

   <extension point="org.eclipse.ui.handlers" id="menu-handlers">
      <?gmfgen generated="true"?>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="reflexactoring.diagram.actionSet"
            label="Reflexactoring"
            visible="true">
         <menu
               id="reflexactoring.diagram.menu"
               label="Reflexactoring">
            <groupMarker
                  name="preliminary">
            </groupMarker>
            <separator
                  name="separator">
            </separator>
            <groupMarker
                  name="process">
            </groupMarker>
            <separator
                  name="separator">
            </separator>
            <groupMarker
                  name="experiment">
            </groupMarker>
         </menu>
         <action
               class="reflexactoring.diagram.action.DecideScopeAction"
               icon="icons/menu/scope.gif"
               id="reflexactoring.diagram.action.decideScope"
               label="Decide Scope"
               menubarPath="reflexactoring.diagram.menu/preliminary"
               style="push"
               toolbarPath="preliminary"
               tooltip="Decide the scope of refactoring">
         </action>
         <action
               class="reflexactoring.diagram.action.recommend.MemberRecommendAction"
               icon="icons/menu/recommend_member.gif"
               id="reflexactoring.diagram.action.MemberRecommend"
               label="Start by Member Level (Recommend)"
               style="push"
               tooltip="Split Direct on Fields and Methods">
            >
         </action>
         <action
               class="reflexactoring.diagram.action.SearchRefactoringSolutionAcion"
               icon="icons/menu/search.jpg"
               id="reflexactoring.diagram.action.searchSolution"
               label="Search Refactoring Solution"
               menubarPath="reflexactoring.diagram.menu/process"
               style="push"
               toolbarPath="process">
         </action>
         <action
               class="reflexactoring.diagram.action.recommend.ClassRecommendAction"
               icon="icons/menu/adjust_mapping.jpg"
               id="reflexactoring.diagram.action.recommendRefacotring"
               label="Adjust Mapping"
               menubarPath="reflexactoring.diagram.menu/process"
               style="push"
               toolbarPath="process">
         </action>
         <action
               class="reflexactoring.diagram.action.AutoMappingAction"
               icon="icons/menu/generate_reflexion_model.png"
               id="reflexactoring.diagram.action.autoMapping"
               label="Automatic Mapping"
               menubarPath="reflexactoring.diagram.menu/process"
               style="push"
               toolbarPath="process"
               tooltip="Automatically map java classes/interfaces to modules">
         </action>
         <action
               class="reflexactoring.diagram.action.RecordBehaviorAction"
               icon="icons/menu/save_record.png"
               id="reflexactoring.diagram.action.recordBehavior"
               label="Record Your Behavior"
               menubarPath="reflexactoring.diagram.menu/experiment"
               style="push"
               toolbarPath="experiment"
               tooltip="Record Your Behaviorial Data">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="reflexactoring.diagram.view.category"
            name="Reflexactoring">
      </category>
      <view
            category="reflexactoring.diagram.view.category"
            class="reflexactoring.diagram.view.HeuristicMappingView"
            icon="icons/view/heurisitic_map.gif"
            id="reflexactoring.diagram.view.mappingAjustion"
            name="Heuristic Mapping"
            restorable="true">
      </view>
      <view
            category="reflexactoring.diagram.view.category"
            class="reflexactoring.diagram.view.RefactoringSuggestionView"
            icon="icons/view/recommend.gif"
            id="reflexactoring.diagram.view.suggestion"
            name="Refactoring Suggestion"
            restorable="true">
      </view>
      <view
            category="reflexactoring.diagram.view.category"
            class="reflexactoring.diagram.view.ModuleUnitsSimilarityView"
            icon="icons/view/module_type_similarity.gif"
            id="reflexactoring.diagram.view.moduleTypeSimilarity"
            name="Similarity Table"
            restorable="true">
      </view>
      <view
            category="reflexactoring.diagram.view.category"
            class="reflexactoring.diagram.view.ReferenceDetailView"
            icon="icons/view/reference_detail.gif"
            id="reflexactoring.diagram.view.referenceDetail"
            name="Reference Detail"
            restorable="true">
      </view>
      <view
            category="reflexactoring.diagram.view.category"
            class="reflexactoring.diagram.view.ModuleMemberForbiddenView"
            icon="icons/view/forbid_member.gif"
            id="reflexactoring.diagram.view.moduleMemberForbidMap"
            name="Module-Member Forbidden List"
            restorable="true">
      </view>
      <view
            category="reflexactoring.diagram.view.category"
            class="reflexactoring.diagram.view.ModuleTypeForbiddenView"
            icon="icons/view/forbid_type.gif"
            id="reflexactoring.diagram.view.moduleUnitForbidMap"
            name="Module-Type Forbidden List"
            restorable="true">
      </view>
      <view
            category="reflexactoring.diagram.view.category"
            class="reflexactoring.diagram.view.DependencyConstraintConfidenceView"
            icon="icons/view/constraint_confidence.gif"
            id="reflexactoring.diagram.view.dependencyConstraintConfidence"
            name="Dependency Constraint Confidence"
            restorable="true">
      </view>
      <view
            category="reflexactoring.diagram.view.category"
            class="reflexactoring.diagram.view.ExtendConstraintConfidenceView"
            icon="icons/view/constraint_confidence.gif"
            id="reflexactoring.diagram.view.extendConstraintConfidence"
            name="Extend Constraint Confidence"
            restorable="true">
      </view>
      <view
            category="reflexactoring.diagram.view.category"
            class="reflexactoring.diagram.view.AllMemberInClassMappingFixView"
            icon="icons/view/fix.gif"
            id="reflexactoring.diagram.mappingFix"
            name="Fix Class Mapping"
            restorable="true">
      </view>
      <view
            category="reflexactoring.diagram.view.category"
            class="reflexactoring.diagram.view.MemberFixingView"
            icon="icons/view/member_fix.gif"
            id="reflexactoring.diagram.view.memberFixingView"
            name="Fix Member Mapping"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="reflexactoring.diagram.perspective.ReflexactoringPerspective"
            icon="icons/perspective/reflexactoring.gif"
            id="reflexactoring.diagram.perspective.refleactoring"
            name="Reflexactoring">
      </perspective>
   </extension>

   <!-- optionally, specify keybindings -->
</plugin>
